.App {
  text-align: center;
}

body {
  background-color: #121212;
  color: white;
  transition: all 0.3s ease;
  transition: transform 0.2s ease;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background: linear-gradient(135deg, #1e88e5, #1565c0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.App-link {
  color: #64b5f6;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #bbdefb;
}

.ChatWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f3e3e;
}
