.ChatBox {
  height: fit-content;
  width: 1100px;
  background-color: gray;
  border-radius: 15px;
  margin-top: 20px;
}

.ChatBox-header {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  top: 0;
  margin: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.ChatBox-header h1 {
  margin: 0;
}

.message-getter-wrapper {
  padding-left: 20px;

  padding-right: 20px;
  padding-bottom: 5px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-wrapper {
  display: flex;

  justify-content: flex-end;
  height: fit-content;
  width: 100%;
}
.other-message {
  justify-content: flex-start;
}
.other-message .message-box {
  background-color: lightgray;
}

.message-box-wrapper {
  display: flex;
  flex-direction: column;
}
.message-box {
  height: 100%;
  overflow-y: none;

  max-width: 450px;
  min-width: 55px;
  background-color: lightgreen;
  border-radius: 15px;
  padding: 7px;
}
.message-box-username {
  font-size: 17px;
  line-height: 1px;
  font-weight: 700;
}

.message-box-message {
  font-size: 19px;
  font-weight: 600;

  margin: 0px 0px 0px 5px;
}

.message-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /*width: 100%;
  margin-top: 20px;*/
  padding-top: 10px;
  padding-inline: 10px;
  gap: 10px;
  background-color: rgb(222, 222, 222);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.message-creator-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 80%;
  border-radius: 15px;
  background-color: lightgray;
  border: none;
  font-size: 20px;
}

.message-creator-button {
  height: 70px;
  width: 70px;
  background-color: rgb(144, 238, 144);
  border-radius: 90%;
  border: none;
  cursor: pointer;
  transition: all 100ms;
  font-size: 20px;
  font-weight: 700;
}

.message-creator-button:hover {
  background-color: rgb(99, 255, 99);
  transform: scale(1.1);
}

.message-creator-input:focus {
  outline: none;
}
